// alignment
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

// colors
.text-primary {
    color: $primary-color;
}

.text-gray-dark {
    color: #757575;
}
