.container {
    width: 95%;
    margin: 0 auto;
    padding: 0 ($gutter/2);
}

@include mediaAbove(sm) {
    .container {
        width: 540px;
    }
}

@include mediaAbove(md) {
    .container,
    .container-md {
        width: 720px;
    }
    .container-md {
        margin: 0 auto;
        padding: 0 ($gutter/2);
    }
}

@include mediaAbove(lg) {
    .container,
    .container-md,
    .container-lg {
        width: 960px;
    }
    .container-lg {
        margin: 0 auto;
        padding: 0 ($gutter/2);
    }
}

@include mediaAbove(xl) {
    .container,
    .container-md,
    .container-lg,
    .container-xl {
        width: 1140px;
    }
    .container-xl {
        margin: 0 auto;
        padding: 0 ($gutter/2);
    }
}
@include mediaAbove(xxl) {
    .container,
    .container-md,
    .container-lg,
    .container-xl {
        width: 1320px;
    }
}
