.container {
    width: 90%;
    margin: 0 auto;

    @include mediaAbove(sm) {
        max-width: 540px;
    }

    @include mediaAbove(md) {
        max-width: 720px;
    }

    @include mediaAbove(lg) {
        max-width: 992px;
    }

    @include mediaAbove(xl) {
        max-width: 1140px;
    }

    @include mediaAbove(xxl) {
        max-width: 1320px;
    }
}
