.site-footer {
    padding: 80px 0;
    background-color: #f0f4f8;

    .container {
        max-width: 680px;
    }
}

.footer__social {
    display: flex;
    justify-content: space-between;
    a {
        display: inline-block;
        width: 38px;
        height: 38px;
        text-align: center;
        font-size: 16px;
        color: $white;
        background-color: $primary-color;
        border-radius: 50%;
        line-height: 2.375;
        transition: background-color 0.3s ease;

        .icon {
            line-height: inherit;
        }

        &:hover {
            background-color: #8898ab;
        }

        @include mediaAbove(sm) {
            width: 57px;
            height: 57px;
            font-size: 24px;
        }

        @include mediaAbove(md) {
            width: 80px;
            height: 80px;
            font-size: 34px;
        }
    }
}

.footer__address {
    margin: 30px 0 20px;
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
}

.footer__phone {
    font-size: 18px;
    text-align: center;

    span {
        font-weight: $font-weight-medium;
    }
}

.footer__newsletter {
    padding: 1.5rem 5%;
    border-radius: 1rem;
    background-color: #8898ab;
    text-align: center;
    color: $white;

    form {
        display: flex;
        border: 1px solid $white;
        border-radius: 10px;

        input {
            padding: 0.5rem 1rem;
            background-color: transparent;
            border: 0;
            outline: 0;
            color: $white;

            &[type="text"] {
                flex-grow: 1;
                text-align: center;

                &::placeholder {
                    color: #dbe0e6;
                }
            }
            &[type="submit"] {
                flex-shrink: 0;
                border-right: 1px solid $white;
            }
        }
    }
}

.footer__links {
    list-style: none;
    margin: 2rem 0 1rem;
    text-align: center;

    li {
        margin-bottom: 1rem;
        a {
            color: inherit;
        }
    }
}

.footer__about {
    margin: 1.5rem 0;
    line-height: 2;
    text-align: justify;
}

@include mediaAbove(sm) {
    .footer__address {
        font-size: 20px;
        line-height: 2;
    }

    .footer__phone {
        font-size: 20px;
    }
    .footer__newsletter {
        padding: 20px 10%;
    }

    .footer__links {
        display: flex;
        justify-content: space-between;
        padding: 0.875rem 0;
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
        li {
            margin: 0;
            line-height: 1;
        }
    }
}

.footer__namad {
    text-align: center;
    img {
        height: 140px;
    }
}
