.topbar {
    padding: 1.5rem;
    background-color: #f0f4f8;
    color: #8e9092;
    text-align: center;
    font-weight: $font-weight-bold;
}

.site-header {
    padding: 2rem 0;
    border-bottom-right-radius: 36px;
    border-bottom-left-radius: 36px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.05);
}

.site-header__main {
    display: flex;
    align-items: center;
}

.mobile-menu-toggler {
    padding: 5px 14px;
    background-color: $primary-color;
    color: $white;
    font-size: 1rem;
    border-radius: 10px;
    line-height: 1;

    @include mediaAbove(md) {
        display: none;
    }
}

.site-brand {
    display: block;
    flex-grow: 1;
    text-align: center;
    flex-shrink: 0;
    h1 {
        small {
            margin-right: 5px;
            @include font-size(1.4rem);
            font-weight: $font-weight-normal;
            display: block;

            @include mediaAbove(lg) {
                display: inline-block;
            }
        }
    }

    @include mediaAbove(md) {
        text-align: right;
        flex-grow: 0;
    }
}

.site-nav {
    display: none;
    flex-grow: 1;

    @include mediaAbove(md) {
        display: block;
    }

    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;

        li {
            &:not(:last-child) {
                margin-left: 0.875rem;
                border-left: 1px solid;
                padding-left: 0.875rem;
            }

            a {
                color: inherit;
                font-weight: $font-weight-medium;
                @include font-size(1.25rem);
                line-height: 1;
            }
        }
    }
}

.header-actions {
    display: flex;
    align-items: center;
}

.header-actions__item {
    position: relative;
    @include font-size(2.5rem);

    &:not(:last-child) {
        margin-left: 0.5em;
    }
}

.header-actions__item__badge {
    position: absolute;
    bottom: 14px;
    left: -14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-color: $primary-color;
    font-size: 1rem;
    color: $white;
    text-align: center;
    line-height: 30px;
}

.site-header__search {
    margin-top: 10px;
}

.site-search {
    display: flex;
    align-items: center;
    max-width: 550px;
    margin: 0 auto;
    padding: 12px 20px;
    background: #f0f4f8;
    border-radius: 36px;
}

.site-search__input {
    flex-grow: 1;
    border: 0;
    background-color: transparent;
    text-align: center;
    color: #a6bcd0;
    &::placeholder {
        color: inherit;
    }
}
.site-search__icon {
    color: #adc1d3;
    flex-shrink: 0;
    font-size: 18px;
}

.site-header__cats {
    display: flex;
    justify-content: center;
    margin: 2rem auto 0;

    .header-cat__title {
        &.open {
            display: block;
        }
        &.close {
            display: none;
        }
    }

    &.show-all {
        flex-wrap: wrap;
        max-width: 812px;

        .header-cat {
            display: block;
            margin-bottom: 1rem;
        }

        .header-cat__title {
            &.open {
                display: none;
            }
            &.close {
                display: block;
            }
        }

        .header-cat-btn .header-cat__image {
            transform: rotate(180deg);
        }
    }
}

.header-cat {
    display: none;
    text-align: center;

    &:not(:last-child) {
        margin-left: 1rem;
    }

    &:nth-child(-n + 3) {
        display: block;
    }

    &:nth-child(4n + 1) {
        .header-cat__image {
            background: linear-gradient(to bottom, #4efff8, #76baff);
            box-shadow: 0 8px 15px rgba(98, 170, 255, 0.34);
        }
    }
    &:nth-child(4n + 2) {
        .header-cat__image {
            background: linear-gradient(to bottom, #ff82d1, #896bcd);
            box-shadow: 0 8px 15px rgba(118, 0, 197, 0.34);
        }
    }
    &:nth-child(4n + 3) {
        .header-cat__image {
            background: linear-gradient(to bottom, #ffae4e, #ff7676);
            box-shadow: 0 8px 15px rgba(255, 98, 98, 0.34);
        }
    }
    &:nth-child(4n + 4) {
        .header-cat__image {
            background: linear-gradient(to bottom, #b4ff4e, #2fc145);
            box-shadow: 0 8px 15px rgba(38, 213, 85, 0.34);
        }
    }

    &.header-cat-btn {
        display: block;
        .header-cat__image {
            background: $white;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        }

        &:nth-child(-n + 4) {
            display: none;
        }
    }

    &:hover {
        &.header-cat__title {
            color: $primary-color;
        }
    }

    @include mediaAbove(sm) {
        &:nth-child(-n + 4) {
            display: block;
        }

        &.header-cat-btn:nth-child(-n + 5) {
            display: none;
        }
    }

    @include mediaAbove(md) {
        &:nth-child(-n + 5) {
            display: block;
        }
        &.header-cat-btn:nth-child(-n + 6) {
            display: none;
        }
    }

    @include mediaAbove(lg) {
        &:nth-child(-n + 6) {
            display: block;
        }
        &.header-cat-btn:nth-child(-n + 7) {
            display: none;
        }
    }
}

.header-cat__image {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    line-height: 65px;

    img {
        max-width: 75%;
    }

    .icon {
        font-size: 28px;
        line-height: inherit;
        color: $primary-color;
    }

    @include mediaAbove(sm) {
        width: 80px;
        height: 80px;
        line-height: 80px;
    }

    @include mediaAbove(md) {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
}

.header-cat__title {
    margin-top: 1rem;
    color: #515c6f;

    @include mediaAbove(sm) {
        font-size: 1.125rem;
        font-weight: 500;
    }
}
