.order-process {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 1.25rem auto 0;
    padding: 0;

    li {
        text-align: center;
        padding: 0.4rem 0.9rem;
        border-radius: 1rem;
        line-height: 1;

        .icon {
            font-size: 1.8rem;
        }

        &.active {
            background-color: $primary-color;
            color: $white;
        }

        &.passed {
            background-color: #f0f4f8;
            color: $primary-color;
        }

        &.failed {
            background-color: #f0f4f8;
            color: $danger-color;
        }

        @include mediaAbove(340px) {
            padding: 0.7rem 1.8rem;
            border-radius: 2.25rem;
        }
    }
}

.cart-item,
.cart-totals {
    position: relative;
    padding: 1rem;
    background-color: #f0f4f8;
    border-radius: 0.5rem;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.cart-item__header {
    display: flex;
    margin-bottom: 1rem;
}

.cart-item__thumb {
    flex-shrink: 0;
    width: 80px;
    margin-left: 0.75rem;
    background-color: #f0f4f8;
    img {
        width: 100%;
    }
}

.cart-item__title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;

    a {
        color: #07284a;
    }
}

.cart-item__options {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    div {
        display: flex;
        font-size: 0.875rem;

        margin-left: 1rem;
    }

    dt {
        color: #788593;
        font-weight: 300;

        &::after {
            content: ":";
        }
    }

    dd {
        margin-right: 0.5rem;
        margin-bottom: 0;
        color: #07284a;
        font-weight: 400;
    }
}

.cart-item__details,
.cart-totals__items {
    list-style: none;
    padding: 0;
    color: #07284a;
    li {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        .title {
            font-weight: 300;
            // font-weight: 0.75rem;
        }
        .value {
            font-weight: 500;

            &.numeric {
                font-size: 1.15rem;
            }

            &.grandtotal {
                font-size: 1.2rem;
            }

            .currency {
                font-size: 0.75em;
                color: #b3c5d7;
                margin-right: 0.25rem;
            }
        }
    }
}

.quantity-input {
    display: flex;
    align-items: center;
    border: 1px solid #f5f7f9;
    color: #07284a;
    background-color: $white;
    border-radius: 0.5rem;
}

.quantity-input__control {
    padding: 4px 12px;
    font-size: 18px;
    color: $primary-color;
    cursor: pointer;
    user-select: none;

    &:first-child {
        border-left: 1px solid #f5f7f9;
    }

    &:last-child {
        border-right: 1px solid #f5f7f9;
    }

    &.disabled {
        color: #666;
        cursor: not-allowed;
    }
}

.quantity-input__input {
    text-align: center;
    flex-grow: 1;
    border: 0;
    outline: 0;
    background: transparent;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.cart-item__delete {
    flex-shrink: 0;
    margin-right: 0.5rem;
    color: #07284a;
    transition: color 0.3s ease;

    &:hover {
        color: $danger-color;
    }
}

.cart-totals {
    .grandtotal {
        .title,
        .value {
            color: #07284a;
            font-weight: 500;
        }

        .title {
            font-size: 1.1rem;
        }

        .value {
            font-size: 1.3rem;
        }
    }

    .discount {
        .title,
        .value {
            color: $primary-color;
            // font-weight: 500;
        }
    }
}

.cart-totals__btn {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 997;
    padding: 0.75rem;
    background-color: $white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);

    @include mediaAbove(lg) {
        position: relative;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        z-index: unset;
    }
    // width: 100vh;
}

@include mediaAbove(sm) {
    .cart-item__thumb {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 120px;
    }

    .cart-item__header,
    .cart-item__details {
        padding-right: calc(120px + 2rem);
    }

    .cart-item__delete {
        font-size: 1.2rem;
        margin-right: 1rem;
    }
}

@include mediaAbove(md) {
    .cart-item__thumb {
        width: 160px;
    }

    .cart-item__header,
    .cart-item__details {
        padding-right: calc(160px + 2rem);
    }

    .cart-item__title {
        font-size: 1.2rem;
    }

    .cart-item__options {
        div {
            font-size: 1rem;
        }
    }
}

@include mediaAbove(xl) {
    .cart-item__thumb {
        width: 200px;
    }

    .cart-item__header,
    .cart-item__details {
        padding-right: calc(200px + 2rem);
    }
}
