// Hero Slider
.hero-slider-wrapper {
    margin: 30px 0;
}

.hero-slider {
    position: relative;
    .slide {
        max-height: 594px;
        border-radius: 10px;

        overflow: hidden;
        a {
            display: block;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.discounts-slider-wrapper {
    position: relative;
}

.discounts-slider {
    margin-left: -1rem;
    margin-right: -1rem;

    .slick-slide {
        padding: 1rem;
    }
}

.discounts-slider-prev,
.discounts-slider-next {
    display: none;
    position: absolute;
    top: 50%;
    color: #b7b7b7;
    background-color: #f0f4f8;
    border: 1px solid #e8ebee;
    @include padding(1.8rem 0.875rem);
    @include font-size(1.4rem);
    line-height: 1;
    cursor: pointer;

    @include mediaAbove(sm) {
        display: block;
    }

    &.slick-disabled {
        display: none !important;
    }
}

.discounts-slider-prev {
    right: -1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.discounts-slider-next {
    left: -1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

// Services
.services {
    display: flex;
    justify-content: center;
}

.services__item {
    display: block;
    max-width: 800px;
    text-align: center;

    &:not(:last-child) {
        margin-left: 1rem;
    }

    .icon-wrapper {
        width: 65px;
        height: 65px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: $primary-color;
        color: $white;
        font-size: 30px;
        line-height: 2.8;
        box-shadow: 0px 8px 15px rgba(16, 141, 208, 58%);
    }

    .term {
        margin-top: 1rem;
        color: #748a9d;
        font-size: 0.875rem;

        &::after {
            content: "\e904";
            font-family: FamilaIcons;

            display: inline-block;
            font-size: 0.75rem;
            vertical-align: middle;
            margin-right: 5px;
        }
    }

    @include mediaAbove(sm) {
        &:not(:last-child) {
            margin-left: 60px;
        }
        .icon-wrapper {
            width: 86px;
            height: 86px;
            font-size: 34px;
            line-height: 3.2;
        }
        .term {
            font-size: 1.1rem;
            font-weight: $font-weight-medium;
        }
    }

    @include mediaAbove(md) {
        &:not(:last-child) {
            margin-left: 60px;
        }
        .icon-wrapper {
            width: 106px;
            height: 106px;
            font-size: 40px;
        }
    }
}

// Categories
.homecat {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba($black, 0.1);

    &:hover {
        .homecat__image {
            transform: scale(1.1);
        }
        .homecat__info {
            background-color: $primary-color;
            color: $white;
        }
    }
}

.homecat__image {
    width: 100%;
    transition: transform 0.7s ease;
    img {
        width: 100%;
    }
}

.homecat__info {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 0.5rem 1rem;
    background-color: rgba($white, 0.5);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #07284a;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.homecat__title {
    margin: 0;
}

.homecat__subtitle {
    &::after {
        content: "\e904";
        font-family: FamilaIcons;

        display: inline-block;
        font-size: 0.6rem;
        vertical-align: middle;
        margin-right: 5px;
    }
}

// Best Products
.best-products-slider {
    .slide {
        padding: 1rem;
    }
}

.best-product {
    &:hover {
        .best-product__image img {
            transform: scale(1.1);
        }
        .best-product__attributes {
            li {
                color: $body-color;
                .value {
                    color: $primary-color;
                }
            }
        }
    }
}

.best-product__image {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 3px 6px rgba($black, 0.16);
    img {
        width: 100%;
        transition: transform 0.8s ease;
    }
}

.best-product__attributes {
    list-style: none;
    margin-top: -30px;
    padding: 60px 20px 20px;
    box-shadow: 0px 3px 6px rgba($black, 0.16);
    border-radius: 12px;

    li {
        display: flex;
        justify-content: space-between;

        color: #454f63;

        &:not(:last-child) {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid #f4f4f6;
        }

        .value {
            font-weight: $font-weight-medium;
        }
    }
}

// Colleagues Guide
.colleagues-guide {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    color: #07284a;

    @include mediaAbove(sm) {
        padding: 60px 0;
    }
}
.colleagues-guide__heading {
    p {
        font-size: 0.875rem;
        max-width: 350px;
        margin-top: 30px;
    }

    h3 {
        font-size: 1.2rem;

        .icon {
            display: inline-block;
            vertical-align: middle;
            margin-left: 0.5rem;
            color: $primary-color;
            font-size: 1.4em;
            text-shadow: 0 10px 10px rgba($black, 0.16);
        }
    }

    @include mediaAbove(sm) {
        h3 {
            font-size: 1.4rem;
        }

        p {
            font-size: 1.3rem;
        }
    }

    @include mediaAbove(md) {
        h3 {
            font-size: 1.8rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}
.colleagues-guide__divider {
    width: 1px;
    height: 100px;
    margin: 0 1rem;
    background-color: $body-color;
    align-self: center;

    @include mediaAbove(sm) {
        height: 120px;
        margin: 0 2rem;
    }

    @include mediaAbove(sm) {
        height: 140px;
    }
}

.colleagues-guide__more {
    flex-shrink: 0;
    .icon {
        font-size: 1.8rem;
    }
    .link {
        font-size: 0.875rem;
        margin-top: 30px;
        a {
            color: inherit;
            &::after {
                content: "\e904";
                font-family: FamilaIcons;

                display: inline-block;
                font-size: 0.6em;
                vertical-align: middle;
                margin-right: 0.875rem;
            }
        }
    }

    @include mediaAbove(sm) {
        .icon {
            font-size: 3rem;
        }
        .link {
            font-size: 1.3rem;
        }
    }

    @include mediaAbove(md) {
        .icon {
            font-size: 4rem;
        }
        .link {
            font-size: 1.5rem;
        }
    }
}

// Colleagues Gallery
.colleagues-gallery-slider {
    .slide {
        padding: 1rem;
    }
}

.colleague {
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(#1b1c20, 0.1);
}

.colleague__image {
    width: 100%;

    img {
        width: 100%;
    }
}

.colleague__info {
    padding: 20px;
}

.colleague__name {
    font-size: 19px;
    font-weight: $font-weight-medium;
    margin-bottom: 0;
}

.colleague__profession {
    height: 48px;
    margin: 1rem 0 0.5rem;
    overflow: hidden;
}

// Brands
.section-brands {
    padding: 30px 0;
}

.home-brands {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 0;
    overflow-y: auto;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

    @include mediaAbove(md) {
        justify-content: center;

        // flex-wrap: wrap;
    }
}

.home-brands__item {
    flex-shrink: 0;
    display: block;
    width: 65px;
    line-height: 65px;
    margin-left: 1rem;
    background-color: $white;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 3px 6px rgba($black, 0.16);

    img {
        width: 80%;
    }

    @include mediaAbove(md) {
        width: 80px;
        line-height: 80px;
    }

    @include mediaAbove(lg) {
        width: 100px;
        line-height: 100px;
    }
}
