// Hero Slider
.hero-slider-wrapper {
    margin: 30px 0;
}

.hero-slider {
    position: relative;
    .slide {
        max-height: 594px;
        border-radius: 10px;

        overflow: hidden;
        a {
            display: block;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.discounts-slider-wrapper {
    position: relative;
}

.discounts-slider {
    margin-left: -1rem;
    margin-right: -1rem;

    .slick-slide {
        padding: 1rem;
    }
}

.discounts-slider-prev,
.discounts-slider-next {
    display: none;
    position: absolute;
    top: 50%;
    color: #b7b7b7;
    background-color: #f0f4f8;
    border: 1px solid #e8ebee;
    @include padding(1.8rem 0.875rem);
    @include font-size(1.4rem);
    line-height: 1;
    cursor: pointer;

    @include mediaAbove(sm) {
        display: block;
    }

    &.slick-disabled {
        display: none !important;
    }
}

.discounts-slider-prev {
    right: -1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.discounts-slider-next {
    left: -1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

// Services
.services {
    display: flex;
    justify-content: center;
}

.services__item {
    display: block;
    max-width: 800px;
    text-align: center;

    &:not(:last-child) {
        margin-left: 1rem;
    }

    .icon-wrapper {
        width: 65px;
        height: 65px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: $primary-color;
        color: $white;
        font-size: 30px;
        line-height: 2.8;
        box-shadow: 0px 8px 15px rgba(16, 141, 208, 58%);
    }

    .term {
        margin-top: 1rem;
        color: #748a9d;
        font-size: 0.875rem;

        &::after {
            content: "\e904";
            font-family: FamilaIcons;

            display: inline-block;
            font-size: 0.75rem;
            vertical-align: middle;
            margin-right: 5px;
        }
    }

    @include mediaAbove(sm) {
        &:not(:last-child) {
            margin-left: 60px;
        }
        .icon-wrapper {
            width: 86px;
            height: 86px;
            font-size: 34px;
            line-height: 3.2;
        }
        .term {
            font-size: 1.1rem;
            font-weight: $font-weight-medium;
        }
    }

    @include mediaAbove(md) {
        &:not(:last-child) {
            margin-left: 60px;
        }
        .icon-wrapper {
            width: 106px;
            height: 106px;
            font-size: 40px;
        }
    }
}

// Categories
.homecat {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba($black, 0.1);

    &:hover {
        .homecat__image {
            transform: scale(1.1);
        }
        .homecat__info {
            background-color: $primary-color;
            color: $white;
        }
    }
}

.homecat__image {
    width: 100%;
    transition: transform 0.7s ease;
    img {
        width: 100%;
    }
}

.homecat__info {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 0.5rem 1.5rem;
    background-color: rgba($white, 0.5);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #07284a;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.homecat__title {
    margin: 0;
}

.homecat__subtitle {
    &::after {
        content: "\e904";
        font-family: FamilaIcons;

        display: inline-block;
        font-size: 0.6rem;
        vertical-align: middle;
        margin-right: 5px;
    }
}

// Best Products
.best-products-slider {
    .slide {
        padding: 1rem;
    }
}

.best-product {
    &:hover {
        .best-product__image img {
            transform: scale(1.1);
        }
        .best-product__attributes {
            li {
                color: $body-color;
                .value {
                    color: $primary-color;
                }
            }
        }
    }
}

.best-product__image {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 3px 6px rgba($black, 0.16);
    img {
        width: 100%;
        transition: transform 0.8s ease;
    }
}

.best-product__attributes {
    list-style: none;
    margin-top: -30px;
    padding: 60px 20px 20px;
    box-shadow: 0px 3px 6px rgba($black, 0.16);
    border-radius: 12px;

    li {
        display: flex;
        justify-content: space-between;

        color: #454f63;

        &:not(:last-child) {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid #f4f4f6;
        }

        .value {
            font-weight: $font-weight-medium;
        }
    }
}
