.product-intro {
    position: relative;
}
.product-title {
    @include font-size(1.5rem);
    margin-bottom: 1.5rem;
    // font-weight: 500;
}

.product-options {
    margin-bottom: 1.5rem;
}

.product-options__header {
    // font-size: 1.1rem;
    margin-bottom: 0.5rem;
    .title,
    .value {
        display: inline-block;
        vertical-align: middle;
        font-weight: 500;
    }

    .title {
        margin-left: 0.5rem;
        font-size: 1.1rem;

        &::after {
            content: ":";
        }
    }
}

input.product-option {
    &:checked + label.product-option {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        color: $body-color;
    }

    &:checked + label.product-option--color {
        box-shadow: none;
        border-color: #757575;
    }
}

label.product-option {
    // display: block;
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 12px;
    line-height: 1;
    color: #757575;
    transition: color 0.15s ease;

    &:hover {
        color: $primary-color;
    }

    &::before {
        display: none;
    }

    // @include mediaAbove(sm) {
    //     display: inline-block;
    // }
}

label.product-option--color {
    margin-left: 0.5rem;
    // display: inline-block;
    padding: 5px;
    border: 1px solid #e6e6e6;
    box-shadow: none;

    .color {
        width: 25px;
        height: 25px;
        border: 1px solid #757575;
    }
}

.product-features {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.product-features__item {
    display: flex;
    align-items: center;
    text-align: center;
    // color: $primary-color;
    color: #a6bcd0;
    margin-bottom: 1.5rem;
    user-select: none;
    font-size: 0.875rem;

    .icon {
        font-size: 1.4rem;
        margin-left: 0.875rem;
    }

    &:hover {
        color: $primary-color;

        .icon {
            box-shadow: 0 3px 6px rgba (0, 0, 0, 0.16);
        }
    }
}

@include mediaAbove(sm) {
    .product-features {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        margin-top: 0;
    }

    .product-features__item {
        display: block;
        // color: #a6bcd0;

        .icon {
            margin-left: 0;
        }
    }
}

@include mediaAbove(lg) {
    .product-intro {
        display: flex;
    }

    .product-slider {
        width: 45%;
        margin-left: 3rem;
        flex-shrink: 0;
    }

    .product-info {
        width: 55%;
    }

    .product-options,
    .product-title {
        margin-left: 65px;
    }
}

.product-slider {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.product-nav-slider-wrapper {
    display: none;
    width: 100px;
    margin-left: 1.5rem;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    // border-radius: 1rem;

    @include mediaAbove(lg) {
        display: block;
    }
}

.product-main-slider-wrapper {
    overflow: hidden;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    // border-radius: 1rem;
}

.product-main-slider {
    &.slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .slide {
        // max-width: 400px;
        max-height: 440px;
        margin: 0 auto;
        text-align: center;

        img {
            // width: 100%;
            max-width: 100%;
            height: 100%;
            display: initial !important;
        }
    }

    .slick-dots {
        bottom: 0;
        right: 0;
        width: 100%;

        li {
            button {
                background: #d9dcdf;
            }

            &.slick-active {
                button {
                    background: #748a9d;
                }
            }
        }

        @include mediaAbove(lg) {
            display: none !important;
        }
    }
}

.product-nav-slider {
    flex-shrink: 0;
    width: 100px;
    margin-left: 1.5rem;
    float: right;
    z-index: 9;

    .slide {
        width: 80px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
}

.product-nav-slider-arrow {
    text-align: center;
    line-height: 1;
    font-size: 0.75rem;
    color: #748a9d;
    cursor: pointer;

    &:hover {
        color: $body-color;
    }

    &.slick-disabled {
        color: #d7d7d7;
        // cursor: not-allowed;
    }
}

// Sections
.product-section {
    margin: 2.5rem 0;
}

.product-section__header {
    margin-bottom: 1.1rem;
    color: $primary-color;
    font-weight: 500;
    @include font-size(1.2rem);
}

.product-section__content--gray {
    padding: 2rem 0;
    background-color: #f0f4f8;
}

dl.product-info {
    dt,
    dd {
        display: inline-block;
        margin-bottom: 0.5rem;
    }
    dt {
        width: 180px;
        font-weight: 400;
        color: $gray-500;

        &::after {
            content: ":";
        }
    }

    dd {
        margin-right: 1rem;
    }
}

.product-attributes-table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    th,
    td {
        padding: 0.875rem 0;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.16);
    }

    th {
        font-weight: 500;

        &.group-title {
            color: $primary-color;
            border-bottom: 0;
            padding: 1.5rem 0 0;
        }
    }
    td {
        text-align: left;
    }

    .icon-checkmark {
        color: $success-color;
    }
    .icon-cross {
        font-size: 0.875rem;
        color: $danger-color;
    }
}

.product-video-guide {
    display: block;
    width: 100%;
    max-width: 774px;
    margin: 0 auto;
}

.product-video-actions {
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    margin: 1.25rem auto 0;
    color: $primary-color;
    cursor: pointer;

    .icon {
        font-size: 1.4rem;
    }
}

.product-question {
    margin-bottom: 1.25rem;
    .question-wrapper {
        .author {
            font-weight: 500;
        }
        .date {
            margin: 0.25rem 0;
            color: $gray-500;
            font-size: 0.875rem;
        }
        .title {
            color: #707070;
        }
    }

    .answer-wrapper {
        position: relative;
        margin-top: 1rem;
        padding: 1rem;
        background-color: #f0f4f8;
        border-radius: 0.5rem;
        color: #07284a;
        font-weight: 500;

        &::before {
            content: "";
            position: absolute;
            top: -7px;
            right: 2rem;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 7px 7px 7px;
            border-color: transparent transparent #f0f4f8 transparent;
        }

        p {
            margin: 0;
        }
    }
}
