.products-guide {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.25rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #f0f4f8;
    color: #748a9d;

    @include mediaAbove(md) {
        padding: 1rem;
    }
}

.products-guide__item {
    .icon,
    .title {
        vertical-align: middle;
    }

    .icon {
        font-size: 1rem;
        margin-left: 0.5rem;
    }

    @include mediaAbove(md) {
        .icon {
            font-size: 1.5rem;
            margin-left: 0.75rem;
        }

        .title {
            font-size: 1.25rem;
        }
    }
}

.products-filters {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    max-width: 100%;
    padding: 1rem;
    z-index: 999;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.25s ease;
    background-color: #fff;
    overflow-x: auto;
    height: 100vh;

    &.open {
        transform: none;
    }
}

.pl-mobile-actions {
    text-align: left;
    margin: 1.5rem 0 1rem;
}

@include mediaAbove(lg) {
    .products-page__content {
        display: flex;
    }

    .pl-mobile-actions {
        display: none;
    }

    .products-page__main {
        order: 2;
    }

    .products-filters {
        flex-shrink: 0;
        position: relative;
        width: 320px;
        height: auto;
        padding: 0;
        order: 1;
        padding-left: 1rem;
        transform: none;
        z-index: auto;
    }
}

// category descriptions on products list page
.category-desc {
    position: relative;
    margin: 2rem 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.category-desc__content {
    p:last-child {
        margin-bottom: 0;
    }
}

.category-desc__more {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: $primary-color;
    // background-color: rgba(255, 255, 255, 0.8);
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.9)
    );
    padding-top: 120px;
    padding-bottom: 1rem;
    cursor: pointer;
}

.category-desc.show-all {
    .category-desc__more {
        position: relative;
        background-color: transparent;
        padding: 1rem 0;

        .icon {
            transform: rotate(180deg);
        }
    }
}

ul.products-orderby-m {
    list-style: none;
    padding: 0;

    li {
        margin-bottom: 0.75rem;
    }
}
