// YEKAN BAKH
@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/YekanBakhFaNumThin.eot");
    src: url("../fonts/YekanBakhFaNumThin.eot?#iefix")
            format("embedded-opentype"),
        /* FF39+,Chrome36+, Opera24+*/ url("../fonts/YekanBakhFaNumThin.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("../fonts/YekanBakhFaNumThin.ttf") format("truetype");
}
@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/YekanBakhFaNumLight.eot");
    src: url("../fonts/YekanBakhFaNumLight.eot?#iefix")
            format("embedded-opentype"),
        /* FF39+,Chrome36+, Opera24+*/ url("../fonts/YekanBakhFaNumLight.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("../fonts/YekanBakhFaNumLight.ttf") format("truetype");
}
@font-face {
    font-family: YekanBakh;
    font-style: 400;
    font-weight: 400;
    src: url("../fonts/YekanBakhFaNumRegular.eot");
    src: url("../fonts/YekanBakhFaNumRegular.eot?#iefix")
            format("embedded-opentype"),
        /* FF39+,Chrome36+, Opera24+*/
            url("../fonts/YekanBakhFaNumRegular.woff") format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("../fonts/YekanBakhFaNumRegular.ttf") format("truetype");
}
@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/YekanBakhFaNumMedium.eot");
    src: url("../fonts/YekanBakhFaNumMedium.eot?#iefix")
            format("embedded-opentype"),
        /* FF39+,Chrome36+, Opera24+*/ url("../fonts/YekanBakhFaNumMedium.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("../fonts/YekanBakhFaNumMedium.ttf") format("truetype");
}
@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/YekanBakhFaNumBold.eot");
    src: url("../fonts/YekanBakhFaNumBold.eot?#iefix")
            format("embedded-opentype"),
        /* FF39+,Chrome36+, Opera24+*/ url("../fonts/YekanBakhFaNumBold.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("../fonts/YekanBakhFaNumBold.ttf") format("truetype");
}
@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/YekanBakhFaNumHeavy.eot");
    src: url("../fonts/YekanBakhFaNumHeavy.eot?#iefix")
            format("embedded-opentype"),
        /* FF39+,Chrome36+, Opera24+*/ url("../fonts/YekanBakhFaNumHeavy.woff")
            format("woff"),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url("../fonts/YekanBakhFaNumHeavy.ttf") format("truetype");
}

// Font Icons
