@import "mixins/rfs";

@mixin mediaAbove($breakpoint) {
    $breakpoint-value: $breakpoint;

    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);
    }

    @media (min-width: $breakpoint-value) {
        @content;
    }
}

@mixin makeCol($size: false, $columns: $grid-columns) {
    @if $size {
        flex: 0 0 auto;
        width: percentage($size / $columns);
    } @else {
        flex: 1 1 0;
        max-width: 100%;
    }
}
