.breadcrumb {
    margin: 2.5rem 0 2rem;

    ul {
        display: flex;
        list-style: none;
        margin-bottom: 1.25rem;
        padding: 0;
        overflow-y: auto;

        li {
            color: #748a9d;
            flex-shrink: 0;

            &:not(:last-child) {
                &::after {
                    content: "\e904";
                    font-family: FamilaIcons;
                    font-size: 0.75rem;
                    margin-right: 0.875rem;
                }

                margin-left: 0.875rem;
            }

            a {
                color: inherit;
            }
        }
    }
}
