.btn {
    display: inline-block;
    padding: 0.875rem 1.5rem;
    cursor: pointer;

    background: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    text-align: center;
    transition: all 0.3s ease;
    line-height: 1;

    .icon {
        vertical-align: middle;
        margin-right: 0.4rem;
    }

    &.btn--icon-right {
        .icon {
            margin-left: 0.4rem;
            margin-right: 0;
        }
    }

    .icon-arrow-right-2 {
        font-size: 0.75em;
    }
}

.btn--rounded {
    border-radius: 2.25rem;
}

// sizes
.btn--small {
    padding: 0.5rem 1rem;
}

.btn--block {
    display: block;
    width: 100%;
}

// colors
.btn--primary {
    background: $primary-color;
    border-color: $primary-color;
    color: #ffffff;

    &:hover {
        background: darken($primary-color, 10);
        border-color: darken($primary-color, 10);
        color: #ffffff;
    }
}

.btn--primary-outline {
    background: $white;
    border-color: $primary-color;
    color: $primary-color;

    &:hover {
        background: $primary-color;
        color: #ffffff;
    }
}

.btn--light {
    background: #f0f4f8;
    border-color: #f0f4f8;
    color: #748a9d;

    &:hover {
        background: $primary-color;
        border-color: $primary-color;
        color: #ffffff;
    }
}

.btn--text {
    padding: 0;
    line-height: inherit;
    border: 0;
    border-radius: 0;
    color: $primary-color;
}

.product-price {
    margin-top: 1rem;
    span {
        display: inline-block;
    }
    .percent {
        margin-left: 8px;
        padding: 4px 8px;
        border-radius: 4px;

        background-color: $danger-color;
        color: $white;
        line-height: 1;
    }

    .old {
        color: $gray-500;
        text-decoration: line-through;
    }

    .current {
        font-size: 1.8rem;
        font-weight: 500;
        color: $primary-color;
    }

    .currency {
        color: $primary-color;
        margin-right: 0.25rem;
        font-size: 1.2rem;
    }
}
