.modal {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;

    transition: opacity 0.15s linear, visibility 0.15s linear;

    &.open {
        visibility: visible;
        opacity: 1;

        .modal__dialog {
            transform: none;
        }
    }
}

.modal__dialog {
    margin: 2rem 1rem;
    background-color: $white;
    border-radius: 0.5rem;

    transform: translate(0, -50px);
    transition: transform 0.3s ease-out;

    @include mediaAbove(sm) {
        margin: 2rem auto;
        max-width: 600px;
    }
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.25rem 2rem 0.75rem;
    // margin-bottom: 1rem;
    border-bottom: 1px solid $gray-300;
    font-size: 1.2rem;
    font-weight: 500;

    &.modal__header--borderless {
        border-bottom: 0;
    }

    .close {
        font-size: 0.75rem;
        transition: color 0.15s ease;

        &:hover {
            color: $danger-color;
        }
    }
}

.modal__body {
    min-height: 50px;
    max-height: 70vh;
    overflow-x: auto;
    padding: 1rem 2rem;
}

.modal__footer {
    padding: 1rem;
    margin-top: 1rem;
    border-top: 1px solid $gray-300;

    .actions {
        text-align: left;
    }
}
