.tabs__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    border-top: 1px solid #d6d6d6;
    overflow-y: hidden;
    overflow-x: visible;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

    @include mediaAbove(md) {
        justify-content: flex-start;
    }

    &::after {
        content: "";
        align-self: flex-end;
        display: block;
        height: 100%;
        flex-grow: 1;
        border-bottom: 1px solid #d6d6d6;
    }
}

.tabs__header__item {
    position: relative;
    padding: 0.75rem 1.5rem;
    text-align: center;
    flex-shrink: 0;
    border-bottom: 1px solid #d6d6d6;

    @include mediaAbove(sm) {
        flex-shrink: unset;
    }

    &.active {
        margin: 0 0.5rem;
        font-weight: 500;
        border-bottom-color: $primary-color;
        &:first-child {
            margin-right: 0;
        }

        &:last-child {
            margin-left: 0;
        }
    }
}

.tab__content__item {
    display: none;

    &.active {
        display: block;
    }
}
