.widget {
    position: relative;
    padding: 1.25rem 1.5rem;
    background-color: #f0f4f8;
    // border: 1px solid #dbe2ed;
    border-radius: 0.5rem;

    &.toggled {
        .widget__title {
            margin-bottom: 1rem;

            &::after {
                content: "\e916";
            }
        }
        .widget__content {
            display: block;
        }
    }
}

.widget__title {
    color: #748a9d;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1;
    cursor: pointer;

    &::after {
        content: "\e915";
        font-family: FamilaIcons;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        font-size: 10px;
    }
}

.widget__content {
    display: none;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }
    }
}

// Price Widget
.widget-price {
    .price-slider {
        margin-top: 1.5rem;
    }
    .price-show {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 2rem 0 1rem;
        .to {
            margin: 0 1rem;
            flex-shrink: 0;
        }
    }

    .price {
        flex-grow: 1;
        flex-shrink: 0;
        border: 1px solid hsl(218, 27%, 94%);
        border-radius: 0.5rem;
        padding: 0.5rem;
        text-align: center;
        background-color: $white;
        // font-size: 80%;

        .currency {
            display: none;
        }
    }

    .price-filter-btn {
        width: 70%;
        margin: 0 auto;
    }
}
